@font-face {
    font-family: GothamLight;
    src: url("../fonts/GOTHAM-LIGHT.TTF");
}

* {
	margin: 0;
	padding: 0;
	font-family: GothamLight;
}

#wrapper
{
    position: fixed;
    background: url("../images/Eagle.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

#nav-wrapper
{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.nav-item
{
    list-style-type: none;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 5px;
    border-radius: 3px;
    height: 30px;
}

.nav-item a 
{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-left: 15px;
    padding-right: 50px;
    top: -7px;
}

.nav-item img {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-left: 5px;
    margin-top: 3px;
} /* end of Left menu */

#right-panel {
    position: fixed;
    right: 20px;
    top: 20px;
}

#social-wrapper {
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-element {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
} 

#about {background: url("../images/about.jpg"); background-size: cover;}
#email {background: url("../images/email.jpg"); background-size: cover;}
#facebook {background: url("../images/fblogo.jpg"); background-size: cover;}
#twitter {background: url("../images/twlogo.jpg"); background-size: cover;}
#rss-feed {background: url("../images/rss.jpg"); background-size: cover;}


/* end of Right social bar */

#Stuff {
    background-color: rgba(0,0,0,.5);
    border-radius: 2px;
    margin-top: 5px;
    margin-left: 5px;
    width: 270px;
    height: 200px;
    text-align: center;
}

#Stuff p {
    color: #fff;
    padding-top: 30px;
} /* end of Stuff*/

#login-buttons {
    background-color: rgba(0,0,0,.5);
    border-radius: 2px;
    margin-top: 5px;
    margin-left: 5px;
    width: 270px;
    height: 100px;
    text-align: center;
}

#login-buttons p {
    color: #fff;
    padding-top: 15px;
} /* end of login-buttons */

#about-dialog {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 300px;
    height: 400px;
    top: 20px;
    right: 300px;
    border-radius: 2px;
    text-align: center;
}

#about-dialog p{
    padding-top: 20px;
    color: #fff;
} /* end of about dialog setup */

/* make buttons to select nothing on double click */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


#gallery-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#gallery-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/slideshow/1.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#close-control {
    background: url("../images/controls/close.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    position: fixed;
    right: 10px;
    top: 10px;
}

#left-control {
    background: url("../images/controls/left.png");
    background-size: cover;
    position: fixed;
    left: 10px;
    top: 50%;
}

#right-control {
    background: url("../images/controls/right.png");
    background-size: cover;
    position: fixed;
    right: 10px;
    top: 50%;
}

.controls {
    opacity: .5;
    width: 50px;
    height: 50px;
    cursor: pointer;
}